h2 {
    width: 200px;
    border: 1px dotted #ccc;
}

.left {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    margin: -50px;
    outline: 20px solid green ;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    transition: outline-color ease-in 1s;
}

.left:hover {
    outline-color: #000;
}

.right {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    margin: 20px;
    outline: 20px solid red;
    overflow: scroll;
    z-index: 0;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
}
